{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">

    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock title %}</title>
</head>
<body>
    {%  block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Mis Perris 2.0</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'mascota listar' %}">Mascotas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'solicitud_listar' %}">Solicitudes</a>
              </li>
            </ul>
          </div>
        </nav>
    {% endblock header %}

    <div class="container-fluid" style="width: 100%">
        {% block content %}

        {% endblock content %}
    </div>


</body>
</html>