

/*
CSS
 */

#btn-solicitud{

    float: right;
    margin: 20px;
}

#btn-mascotas{
    
    float: right;
    margin: 30px;


}

#btn-mascotas-save{

    margin: auto;
}

.form{
    box-shadow: 1px 1px 7px 1px #000;
    border: 1px solid #000;
    margin: 20px;
    padding: 20px 20px ;
}

.bag-mascotas{

    position: center;
    font-size: 250%;
    margin: 20px;
}

.table-masc{

    width: 100%;
    padding: 0px 10px;
    margin-right: 20px;

}

.btn-save{
    width: 100%;
    text-align: center;
}